.background {
  width: 100%;
  min-height: 1000px;
  background: url('/assets/images/testt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  background-attachment: fixed;
}
